# Node modules (frontend & backend)
frontend/node_modules/
backend/node_modules/

# Build outputs
frontend/dist/
backend/dist/

# Logs
*.log
logs/

# Environment variables
frontend/.env
backend/.env

# VSCode
.vscode/

# MacOS
.DS_Store

# JetBrains IDEs
.idea/
